.container{
  height: 20dvh;
  width: 35dvw;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4dvw 0 4dvw;
  overflow: hidden;
  position: relative;
}
p{
  font-size: 1.25em;
  margin: 0 0 2dvh 0;
}
body{
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  width: 30%;
  height: 8%;
  border: none;
  outline: none;
  background-color: #aaa;
  border-radius: 6%;
  font-size: 1.25em;
  color: white;
}
button:hover{
  background-color: #ccc;
}
img{
  height: 100%;
  width: 100%;
  display: none;
  object-fix: cover;
  position: absolute;
  top: 0;
  left: 0;
}